.table-container{
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
}
.table-row{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: fit-content;
    width: 100%;
}
.table-cell{
    display: flex;
    align-items: center;
}
.table-cell:nth-child(2){
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.table-header{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    }
.table-row:has(.table-header){
    background-color: bisque;
    border-radius: 20px 20px 0 0;
}
.table-cell p{
    margin-left: 10px;
}
.table-cell.see-more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-cell.footer{
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
}
.table-cell.footer:nth-child(2){
    justify-content: end;
}

.supplier-form-add{
    position: absolute;
    width: 50%;
    z-index: 1;
    background-color: white;
}